nav {
  .nav-wrapper {
    overflow: hidden;
    .logo {
      padding-right: 2rem;
      height: 100%;
      display: flex;
      align-items: center;
      img {
        display: block;
        height: 70%;
      }
    }
    li {
      .link-name {
        font-size: 1.3rem;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .nav-wrapper {
      .logo {
        padding-right: 0.5rem;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .nav-wrapper {
      li {
        .link-name {
          font-size: 1.1rem;
        }
      }
      .logo {
        img {
          visibility: hidden;
        }
      }
    }
  }
}
