.register-page {
  .register-container{
    .reg-wrapper {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .modal {
      .datepicker-date-display {
        background: #536dfe;
      }
    }
  }
  .gender {
    height: 3rem;
    display: flex;
    align-items: flex-end;
  }
  h4 {
    padding-left: 3rem;
    color:#e8eaf6;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
}