.resultModalWindow {
    .dynamic-info {
        .collapsible-body {
            background-color: #f4faff;
        }
        li.active {
            i {
                transform: rotate(0deg);
            }
        }
        li {
            i {
                transform: rotate(-90deg);
                transition: transform .3s;
            }
        }
    }
}