.auth-message {
  padding: 1rem 0;
  margin-top: 1rem;
  border-radius: 15px;
}
.test-description {
  p {
    text-indent: 2rem;
    text-align: justify;
  }
  .attention {
    color: #e57373;
  }
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    .already-passed {
      width: 20%;
    }
  }
  @media screen and (max-width: 600px) {
    h3 {
      font-size: 2.2rem;
    }
  }
}
.passing-test {
  .test-description {
    color: rgba(0, 0, 0, 0.5);
  }
  .questions {
    .question {
      margin-left: 2rem;
      span {
        color: #263238;
        &:after {
          background: #3d5afe;
          border: #536dfe;
        }
      }
    }
  }
  .timer {
    .time {
      text-align: right;
      .little-time {
        color: #e43535;
      }
    }
  }
  button {
    margin-top: 0.5rem;
  }
  .stats {
    text-align: right;
  }
}
