.user-page {
  .head {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      h3 {
        display: flex;
        align-items: center;
        img {
          height: 2rem;
          filter: opacity(45%);
          margin-left: 20px;
        }
      }
    }
    h4 {
      padding-right: 2rem;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, .65);
    }
  }
  .result {
    h4 {
      padding-left: 2rem;
    }
    .test-list {
      display: flex;
      justify-content: space-between;
    }
    .name {
      color: black;
    }
    .date {
      color: #353d69;
    }
    .collection {
      a.collection-item {
        &:hover {
          background-color: #536dfe17;
        }
      }
    }
  }
  .modal {
    .modal-content {
      p {
        text-align: justify;
        text-indent: 1rem;
      }
      .dynamic-info {
        span {
          display: block;
          text-align: justify;
        }
      }
      .indent-1 {
        padding-left: .3rem;
        font-size: 1.5rem;
      }
      .indent-2 {
        padding-left: 1rem;
        font-size: 1.2rem;
      }
      .indent-3 {
        padding-left: 2rem;
      }
      width: 100%;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 700px) {
    .head {
      div {
        h3 {
          font-size: 1.5rem;
          max-width: 70vw;
          img {
            height: 1.5rem; 
            margin-left: 10px;
          }
        }
      }
      h4 {
        padding-right: 0;
      }
    }
    .modal {
      max-height: 75vh;
      width: 90%;
      top: 3%!important;
      .modal-content {
        padding: 12px;
        h4 {
          font-size: 1.8rem;
        }
        .additional-info {
          h4 {
            font-size: 1.6;
          }
        }
      }
    }
  }
}